<section>
  <h1>Martin Huber</h1>
  <p>I am a Senior Consultant working @ innoQ Deutschland GmbH</p>
<p> More than a decade of my professional life was 
filled with the design and creation of Integration-Applications in Java. My main focus is on Java EE and 
Web-Technologies for complex integration-challenges. </p>
<p>Integration went from a "hobby" to a profession. So i can say that i'm living a dream (at least one ;-)) in solving integration challenges
                                                                                                                                             
<p>I am focused specially on Apache Camel. I like it for it's ease of use and for the Java-Fluent API.
	XML is everywhere, but the Java-Fluent API you get only while riding the Camel..   
</p>
</section>
<section>
	<table cellspacing="1" cellpadding="1">
		 <tr><td>Email:&nbsp;</td><td><a href="mailto:martin.huber@innoq.com">martin.huber@innoq.com</a></td>       </tr>
		 <tr><td height="1px"></td></tr>
		 <tr><td>Twitter:&nbsp;</td><td><a href="https://twitter.com/#!/Waterback">@Waterback</a></td>         </tr>
		  <tr><td height="1px"></td></tr>     
		 <tr><td>XING:&nbsp;</td><td><a href="http://www.xing.com/profile/Martin_Huber14">Martin Huber - XING</a></td></tr>
		<tr><td height="1px"></td></tr>     
		<tr><td>LinkedIn:&nbsp;</td><td><a href="http://www.linkedin.com/profile/view?id=123530434&trk=tab_pro"/>Martin Huber - LinkedIn</td>
	 </table>
</section>